@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #faf9f7;
}

h1, h2, h3, h4 {
  font-family: 'Cormorant Garamond', serif;
}